
.aside__btn{
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color:#ffffff;
    max-width: 300px;
    width: 100%;
}
.aside__btn-post{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.aside-btn{
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 0px;
}